<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Tipo de usuario</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="/admin/create" class="register userTypes" id="form">
        <h2>Ingrese los datos del item a crear</h2>
        <br>


        <div class="input">
            <h5>Nombre</h5>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="input">
            <h5>Cantidad mínima</h5>
            <input type="text" name="lastname" id="lastname" required>
        </div>
        <div class="input">
            <h5>Cantidad máxima</h5>
            <input type="text" name="phone" id="phone" required>
        </div>
        <div class="input">
            <h5>Descripción</h5>
            <textarea name="order" id="order" cols="100" rows="10" required></textarea>
        </div>
        <div class="input">
            <h5>Imágen</h5>
            <input type="file" name="image" id="">
        </div>

        <div id="customInputs"></div>

        <hr><br>
        
        <button class="createBtn">Registrar</button>
    </form>
</main>
<script src="<%= getFile('admin/js/create.js') %>"></script>