<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Crear pedidos</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="/admin/pedidos/create" class="register">
        <div class="inputs">
            <div class="input">
                <img src="<%= getFile('images/voligoma.png') %>" alt="">
                <h3>asd</h3>
                <small>0</small>
                <div class="buttons">
                    <button>-</button>
                    <span>0</span>
                    <button>+</button>
                </div>
            </div>
            <br>
        </div>
        <button class="createBtn">Crear pedido</button>
    </form>
</main>