<main>
    <div class="head-title">
        <div class="left">
            <h1>Panel</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Panel</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Crear Sucursal</a>
                </li>
            </ul>
        </div>
    </div>
    <form method="post" action="/admin/users/create" class="register userTypes" id="form">
        <h2>Ingrese los datos del usuario a crear</h2>
        <br>

        <div class="input">
            <h5>Username</h5>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="input">
            <h5>Password</h5>
            <input type="text" name="password" id="password" required>
        </div>

        <hr><br>

        <div class="input">
            <h5>Direccion de sucursal</h5>
            <input type="text" name="address" id="address" required>
        </div>

        <hr><br>
        
        <button class="createBtn">Registrar</button>
    </form>
</main>
<script src="<%= getFile('admin/js/create.js') %>"></script>